# Ignore tous les fichiers et dossiers à la racine.
/* 

# Annule l'ignorance pour tous les dossiers (et leur contenu)
!/**/ 

# Ignore les dossiers d'archivage
**/archive/
**/data/ds_merged.nc
**/data/

__pycache__/
*.pyc

# Ignore les fichiers temporaires Jupyter
.ipynb_checkpoints/

# Ignore les fichiers de test
**/test*
